[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build]
  command = "npm run build"
  publish = "dist" # or "build" if you're using CRA

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"
