@import "tailwindcss";

/* optional custom base */
:root {
  --brand-gold: #C1A88B;
}

body {
  background: #000;
  color: #fff;
}

 /* @keyframes flame {
   0% { background-position: 0% 50%; filter: hue-rotate(0deg) brightness(1); }
   50% { background-position: 100% 50%; filter: hue-rotate(45deg) brightness(1.3); }
   100% { background-position: 0% 50%; filter: hue-rotate(0deg) brightness(1); } } */